In [43]:
import pandas as pd
import xlrd
pd.set_option('max_colwidth', 400)
import numpy as np

In [44]:
df = pd.read_excel('Sample - Superstore - cleaned.xlsx')
df.head(2)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,sub_category_id,city_id,segment_id
0,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136,1,222,1
1,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back",731.94,3,0.0,219.5820,2,222,1

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9646 entries, 0 to 9645
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order ID         9646 non-null   object
 1   Order Date       9646 non-null   datetime64[ns]
 2   Ship Date        9646 non-null   datetime64[ns]
 3   Ship Mode        9646 non-null   object
 4   Customer ID      9646 non-null   object
 5   Customer Name    9646 non-null   object
 6   Segment          9646 non-null   object
 7   Country/Region   9646 non-null   object
 8   City             9646 non-null   object
 9   State            9646 non-null   object
 10  Postal Code      9646 non-null   int64
 11  Region           9646 non-null   object
 12  Product ID       9646 non-null   object
 13  Category         9646 non-null   object
 14  Sub-Category     9646 non-null   object
 15  Product Name     9646 non-null   object
 16  Sales            9646 non-null   float64
 17  Quantity         9646 non-null   int64
 18  Discount         9646 non-null   float64
 19  Profit           9646 non-null   float64
 20  sub_category_id  9646 non-null   int64
 21  city_id          9646 non-null   int64
 22  segment_id       9646 non-null   int64
dtypes: datetime64[ns](2), float64(3), int64(5), object(13)
memory usage: 1.7+ MB

### Country

In [46]:
# Create Table 'Country'

atts = ['Country/Region']
country_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)
ids = np.arange(1, len(country_df)+1, dtype=int)
country_df['Country_ID'] = ids
country_df.head()

  Country/Region  Country_ID
0  United States           1

In [47]:
country_df.rename(columns={'Country/Region': 'Country'}, inplace=True)
df.rename(columns={'Country/Region': 'Country'}, inplace=True)

country_df.to_csv('data/v20/Country.csv', index=False)

### Region

In [48]:
df = pd.merge(df, country_df, how = 'inner', on = 'Country')
assert df.shape[0]==9646

In [49]:
# Create Table 'Country'
atts = ['Region', 'Country_ID']
data = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)
ids = np.arange(1, len(data)+1, dtype=int)
data['Region_ID'] = ids
data.head()

    Region  Country_ID  Region_ID
0    South           1          1
1     West           1          2
2  Central           1          3
3     East           1          4

In [50]:
data.rename(columns={'Region': 'Region_name'}, inplace=True)
df.rename(columns={'Region': 'Region_name'}, inplace=True)

data.to_csv('data/v20/Region.csv', index=False)

In [51]:
merge_col = 'Region_name'

df = pd.merge(df, data[[merge_col, 'Region_ID']], how = 'inner', on = merge_col)
assert df.shape[0]==9646

### State

In [52]:
# Create Table 'State'
atts = ['State', 'Region_ID']
data = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)
ids = np.arange(1, len(data)+1, dtype=int)
data['State_ID'] = ids
data.head()

            State  Region_ID  State_ID
0        Kentucky          1         1
1         Florida          1         2
2  North Carolina          1         3
3        Virginia          1         4
4       Tennessee          1         5

In [53]:
# Rename
# data.rename(columns={'Region': 'Region_name'}, inplace=True)
# df.rename(columns={'Region': 'Region_name'}, inplace=True)

data.to_csv('data/v20/State.csv', index=False)

In [54]:
merge_col = 'State'

df = pd.merge(df, data[[merge_col, 'State_ID']], how = 'inner', on = merge_col)
assert df.shape[0]==9646

### City

In [55]:
# Create Table 'City'
name = 'City'

atts = ['City', 'State_ID']
data = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)
ids = np.arange(1, len(data)+1, dtype=int)
data['City_ID'] = ids
data.head()

         City  State_ID  City_ID
0   Henderson         1        1
1    Richmond         1        2
2  Louisville         1        3
3    Florence         1        4
4      Murray         1        5

In [56]:
# Rename
# data.rename(columns={'Region': 'Region_name'}, inplace=True)
# df.rename(columns={'Region': 'Region_name'}, inplace=True)

data.to_csv(f'data/v20/{name}.csv', index=False)

In [57]:
merge_col = ['City','State_ID']

df = pd.merge(df, data[['City','State_ID', 'City_ID']], how = 'inner', on = ['City','State_ID'])
assert df.shape[0]==9646

### Postal

In [58]:
# Create Table 'City'
name = 'Postal'

atts = ['Postal Code','City_ID']
data = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)
ids = np.arange(1, len(data)+1, dtype=int)
data['Postal_Code_ID'] = ids
data.head()

   Postal Code  City_ID  Postal_Code_ID
0        42420        1               1
1        40475        2               2
2        40214        3               3
3        41042        4               4
4        42071        5               5

In [59]:
rename = {'Postal Code': 'Postal_Code'}

# Rename
data.rename(columns=rename, inplace=True)
df.rename(columns=rename, inplace=True)

data.to_csv(f'data/v20/{name}.csv', index=False)

In [60]:
# merge_col = ['Postal Code','City_ID']

df = pd.merge(df, data, how = 'inner', on = ['Postal_Code', 'City_ID'])
assert df.shape[0]==9646

### Customer

In [61]:
# Create Table 'Customer'
name = 'Customer'

atts = ['Customer ID','Customer Name', 'Segment']
data = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)
ids = np.arange(1, len(data)+1, dtype=int)
data.head()

  Customer ID   Customer Name    Segment
0    CG-12520     Claire Gute   Consumer
1    DK-12985  Darren Koutras   Consumer
2    RD-19585        Rob Dowd   Consumer
3    KC-16255  Karen Carlisle  Corporate
4    AB-10105   Adrian Barton   Consumer

In [62]:
rename = {'Customer ID': 'Customer_ID',
          'Customer Name': 'Customer_Name',
         }

# Rename
data.rename(columns=rename, inplace=True)
df.rename(columns=rename, inplace=True)

data.to_csv(f'data/v20/{name}.csv', index=False)

In [63]:
# merge_col = ['Postal Code','City_ID']

# df = pd.merge(df, data[['City','State_ID', 'City_ID']], how = 'inner', on = ['City','State_ID'])
assert df.shape[0]==9646

### Customer_address

In [64]:
# Create Table 'Customer'
name = 'Customer_address'

atts = ['Customer_ID','Postal_Code_ID']
data = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)
ids = np.arange(1, len(data)+1, dtype=int)
data['Customer_address_ID'] = ids
data.head()

  Customer_ID  Postal_Code_ID  Customer_address_ID
0    CG-12520               1                    1
1    DK-12985               1                    2
2    RD-19585               1                    3
3    KC-16255               1                    4
4    AB-10105               1                    5

In [65]:
# rename = {'Customer ID': 'Customer_ID',
#           'Customer Name': 'Customer_Name',
#          }

# # Rename
# data.rename(columns=rename, inplace=True)
# df.rename(columns=rename, inplace=True)

data.to_csv(f'data/v20/{name}.csv', index=False)

In [66]:
merge_col = ['Customer_ID', 'Postal_Code']

df = pd.merge(df, data[['Customer_ID', 'Postal_Code_ID', 'Customer_address_ID']], how = 'inner', on = ['Customer_ID', 'Postal_Code_ID'])
assert df.shape[0]==9646

### Order

In [67]:
# Create Table 'Customer'
name = 'Order'

atts = ['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer_address_ID']
data = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)
# ids = np.arange(1, len(data)+1, dtype=int)
# data['Customer_address_ID'] = ids
data.head()

         Order ID Order Date  Ship Date       Ship Mode  Customer_address_ID
0  CA-2020-152156 2020-11-08 2020-11-11    Second Class                    1
1  CA-2019-134894 2019-12-07 2019-12-11  Standard Class                    2
2  CA-2019-162537 2019-10-28 2019-11-03  Standard Class                    3
3  CA-2019-109470 2019-12-31 2020-01-03    Second Class                    4
4  CA-2021-101042 2021-11-19 2021-11-23  Standard Class                    5

In [68]:
rename = {'Order ID': 'Order_ID',
          'Order Date': 'Order_Date',
          'Ship Date': 'Ship_Date',
          'Ship Mode': 'Ship_Mode',
         }

# Rename
data.rename(columns=rename, inplace=True)
df.rename(columns=rename, inplace=True)

data.to_csv(f'data/v20/{name}.csv', index=False)

In [69]:
# merge_col = ['Customer_ID', 'Postal_Code']

# df = pd.merge(df, data[['Customer_ID', 'Postal_Code', 'Customer_address_ID']], how = 'inner', on = ['Customer_ID', 'Postal_Code'])
assert df.shape[0]==9646

### Category

In [70]:
# Create Table 'Customer'
name = 'Category'

atts = ['Category']
data = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)
ids = np.arange(1, len(data)+1, dtype=int)
data['Category_ID'] = ids
data.head()

          Category  Category_ID
0        Furniture            1
1  Office Supplies            2
2       Technology            3

In [71]:
rename = {'Category': 'Category_Name',
         }

# Rename
data.rename(columns=rename, inplace=True)
df.rename(columns=rename, inplace=True)

data.to_csv(f'data/v20/{name}.csv', index=False)

In [72]:
df = pd.merge(df, data, how = 'inner', on = ['Category_Name'])
assert df.shape[0]==9646

### SubCategory

In [73]:
# Create Table 'Customer'
name = 'SubCategory'

atts = ['Category_ID', 'Sub-Category']
data = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)
ids = np.arange(1, len(data)+1, dtype=int)
data['SubCategory_ID'] = ids
data.head()

   Category_ID Sub-Category  SubCategory_ID
0            1    Bookcases               1
1            1       Chairs               2
2            1  Furnishings               3
3            1       Tables               4
4            2   Appliances               5

In [74]:
rename = {'Sub-Category': 'SubCategory_Name',
         }

# Rename
data.rename(columns=rename, inplace=True)
df.rename(columns=rename, inplace=True)

data.to_csv(f'data/v20/{name}.csv', index=False)

In [75]:
df = pd.merge(df, data, how = 'inner', on = ['Category_ID', 'SubCategory_Name'])
assert df.shape[0]==9646

In [76]:
df.columns

Index(['Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode', 'Customer_ID',
       'Customer_Name', 'Segment', 'Country', 'City', 'State', 'Postal_Code',
       'Region_name', 'Product ID', 'Category_Name', 'SubCategory_Name',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit',
       'sub_category_id', 'city_id', 'segment_id', 'Country_ID', 'Region_ID',
       'State_ID', 'City_ID', 'Postal_Code_ID', 'Customer_address_ID',
       'Category_ID', 'SubCategory_ID'],
      dtype='object')

### Product

In [77]:
# Create Table 'Customer'
name = 'Product'

atts = ['Product Name', 'SubCategory_ID']
data = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)
ids = np.arange(1, len(data)+1, dtype=int)
data['Product_ID'] = ids
data.head()

,Product Name,SubCategory_ID,Product_ID
0,Bush Somerset Collection Bookcase,1,1
1,O'Sullivan Manor Hill 2-Door Library in Brianna Oak,1,2
2,Bush Mission Pointe Library,1,3
3,O'Sullivan Living Dimensions 2-Shelf Bookcases,1,4
4,O'Sullivan 2-Shelf Heavy-Duty Bookcases,1,5

In [78]:
rename = {'Product Name': 'Product_Name',
         }

# Rename
data.rename(columns=rename, inplace=True)
df.rename(columns=rename, inplace=True)

data.to_csv(f'data/v20/{name}.csv', index=False)

In [79]:
df = pd.merge(df, data, how = 'inner', on = ['SubCategory_ID', 'Product_Name'])
assert df.shape[0]==9646

### Order_Product

In [80]:
# Create Table 'Customer'
name = 'Order_Product'

atts = ['Order_ID', 'Product_ID', 'Sales', 'Quantity',  'Profit','Discount']
data = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)
ids = np.arange(1, len(data)+1, dtype=int)
data['Product_ID'] = ids
data.head()

         Order_ID  Product_ID    Sales  Quantity   Profit  Discount
0  CA-2020-152156           1  261.960         2  41.9136      0.00
1  CA-2021-110198           2  314.352         3 -15.7176      0.20
2  CA-2020-117681           3  556.665         5   6.5490      0.15
3  CA-2021-159793           4  130.980         2 -89.0664      0.50
4  CA-2021-124765           5  723.920         5 -81.4410      0.20

In [81]:
# rename = {'Product Name': 'Product_Name',
#          }

# # Rename
# data.rename(columns=rename, inplace=True)
# df.rename(columns=rename, inplace=True)

data.to_csv(f'data/v20/{name}.csv', index=False)

In [82]:
# df = pd.merge(df, data, how = 'inner', on = ['SubCategory_ID', 'Product_Name'])
assert df.shape[0]==9646

### Order

In [103]:
# Create Table 'Order'

atts = ['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Postal Code']
order_df_unique = df[atts].groupby('Order ID')[['Order Date', 'Ship Date', 'Ship Mode', 'Postal Code']].nunique()
order_df_unique.isin([1]).all()

Order Date     True
Ship Date      True
Ship Mode      True
Postal Code    True
dtype: bool

In [104]:
order_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1) #4920

In [105]:
# Create Table 'Product'

atts = ['Product ID', 'Product Name', 'Sub-Category']
product_df_unique = df[atts].groupby('Product ID')['Product Name'].nunique()
product_df_unique.isin([1]).all()

True

In [106]:
product_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1) #1829
ids = np.arange(1, len(product_df)+1, dtype=int)
product_df['Sub-Category ID'] = ids

In [107]:
# Create Table 'Order-Product'

atts = ['Order ID', 'Product ID', 'Sales', 'Quantity', 'Discount', 'Profit']
order_product_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)

In [108]:
# Create Table 'Sub-Category'

atts = ['Sub-Category', 'Category']
sub_df_unique = df[atts].groupby('Sub-Category')['Category'].nunique()
sub_df_unique.isin([1]).all()

True

In [109]:
sub_df = df[atts].drop_duplicates(keep='first').reset_index().drop(['index'], axis=1) #16
ids = np.arange(1, len(sub_df)+1, dtype=int)
sub_df['Sub-Category ID'] = ids
sub_df['Category ID'] = ids

In [110]:
# Create Table 'Category'

atts = ['Category']
cat_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1) #3
ids = np.arange(1, len(cat_df)+1, dtype=int)
cat_df['Category ID'] = ids

In [111]:
# Create Table 'Customer'

atts = ['Customer ID', 'Customer Name', 'Segment']
customer_df_unique = df[atts].groupby('Customer ID')[['Customer Name', 'Segment']].nunique()
customer_df_unique.isin([1]).all()

Customer Name    True
Segment          True
dtype: bool

In [112]:
customer_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)

In [113]:
# Create Table 'Postal'

atts = ['Postal Code', 'Customer ID']
postal_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1) #3
ids = np.arange(1, len(postal_df)+1, dtype=int)
postal_df['City ID'] = ids

In [114]:
# # Create Table 'Customer-Address'

# atts = ['Customer ID', 'Postal Code']
# customer_address_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)

In [115]:
# Create Table 'City'

atts = ['City', 'Postal Code', 'State']
city_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)
ids = np.arange(1, len(city_df)+1, dtype=int)
city_df['City ID'] = ids
city_df['State ID'] = ids

In [116]:
# Create Table 'State'

atts = ['Region', 'State', 'Postal Code', 'City']
state_df_unique = df[atts].groupby('State')['Region'].nunique()
state_df_unique.isin([1]).all()

True

In [117]:
state_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)
ids = np.arange(1, len(state_df)+1, dtype=int)
state_df['State ID'] = ids
state_df['Region ID'] = ids

In [118]:
# Create Table 'Region'

atts = ['Region', 'Country/Region']
region_df_unique = df[atts].groupby('Region')['Country/Region'].nunique()
region_df_unique.isin([1]).all()

True

In [119]:
region_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)
ids = np.arange(1, len(region_df)+1, dtype=int)
region_df['Region ID'] = ids
region_df['Country ID'] = ids

In [120]:
# Create Table 'Country'

atts = ['Country/Region']
country_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)
ids = np.arange(1, len(country_df)+1, dtype=int)
country_df['Country ID'] = ids

In [121]:
# Map Country IDs

for i in range(len(region_df)):
    for j in range(len(country_df)):
        if region_df['Country/Region'][i] == country_df['Country/Region'][j]:
            region_df['Country ID'][i] = country_df['Country ID'][j]
            break
region_df.drop('Country/Region', axis=1, inplace=True)

C:\Users\Roman\AppData\Local\Temp\ipykernel_17088\440699364.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  region_df['Country ID'][i] = country_df['Country ID'][j]

In [122]:
# Map Region IDs

for i in range(len(state_df)):
    for j in range(len(region_df)):
        if state_df['Region'][i] == region_df['Region'][j]:
            state_df['Region ID'][i] = region_df['Region ID'][j]
            break

C:\Users\Roman\AppData\Local\Temp\ipykernel_17088\774643930.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  state_df['Region ID'][i] = region_df['Region ID'][j]

In [123]:
# Map State IDs

for i in range(len(city_df)):
    for j in range(len(state_df)):
        if city_df['State'][i] == state_df['State'][j]:
            city_df['State ID'][i] = state_df['State ID'][j]
            break

C:\Users\Roman\AppData\Local\Temp\ipykernel_17088\2920222307.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_df['State ID'][i] = state_df['State ID'][j]

In [124]:
# Map City IDs

postal_df['City ID'] = city_df['City ID']

In [125]:
# Map Category IDs

for i in range(len(sub_df)):
    for j in range(len(cat_df)):
        if sub_df['Category'][i] == cat_df['Category'][j]:
            sub_df['Category ID'][i] = cat_df['Category ID'][j]
            break

C:\Users\Roman\AppData\Local\Temp\ipykernel_17088\2141954761.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['Category ID'][i] = cat_df['Category ID'][j]

In [126]:
# Map Sub-Category IDs

for i in range(len(product_df)):
    for j in range(len(sub_df)):
        if product_df['Sub-Category'][i] == sub_df['Sub-Category'][j]:
            product_df['Sub-Category ID'][i] = sub_df['Sub-Category ID'][j]
            break

C:\Users\Roman\AppData\Local\Temp\ipykernel_17088\457254354.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product_df['Sub-Category ID'][i] = sub_df['Sub-Category ID'][j]

In [127]:
# Export tables

order_df.rename(columns={'Order ID': 'Order_ID', 'Order Date': 'Order_Date', 'Ship Date': 'Ship_Date', 'Ship Mode': 'Ship_Mode', 'Postal Code': 'Postal_Code'}, inplace=True)
order_df.to_csv('Order.csv', index=False)

product_df.drop('Sub-Category', axis=1, inplace=True)
product_df.rename(columns={'Product ID': 'Product_ID', 'Product Name': 'Product_Name', 'Sub-Category ID':'Subcategory_ID'}, inplace=True)
product_df.to_csv('Product.csv', index=False)

order_product_df.rename(columns={'Order ID': 'Order_ID', 'Product ID': 'Product_ID'}, inplace=True)
order_product_df.to_csv('Order_Product.csv', index=False)

sub_df.drop('Category', axis=1, inplace=True)
sub_df.rename(columns={'Sub-Category':'Subcategory', 'Sub-Category ID':'Subcategory_ID', 'Category ID': 'Category_ID'}, inplace=True)
sub_df.to_csv('SubCategory.csv', index=False)

cat_df.rename(columns={'Category ID': 'Category_ID'}, inplace=True)
cat_df.to_csv('Category.csv', index=False)

customer_df.rename(columns={'Customer ID': 'Customer_ID', 'Customer Name': 'Customer_Name'}, inplace=True)
customer_df.to_csv('Customer.csv', index=False)

postal_df.rename(columns={'City ID': 'City_ID', 'Postal Code': 'Postal_Code', 'Customer ID': 'Customer_ID'}, inplace=True)
postal_df.to_csv('Postal.csv', index=False)

# customer_address_df.rename(columns={'Customer ID': 'Customer_ID', 'Postal Code': 'Postal_Code'}, inplace=True)
# customer_address_df.to_csv('Customer_Address.csv', index=False)

city_df.drop('Postal Code', axis=1, inplace=True)
city_df.drop('State', axis=1, inplace=True)
city_df.rename(columns={'State ID': 'State_ID', 'City ID': 'City_ID'}, inplace=True)
city_df.to_csv('City.csv', index=False)

state_df.drop('Region', axis=1, inplace=True)
state_df.drop('Postal Code', axis=1, inplace=True)
state_df.drop('City', axis=1, inplace=True)
state_df.rename(columns={'Region ID': 'Region_ID', 'State ID': 'State_ID'}, inplace=True)
state_df.to_csv('State.csv', index=False)

region_df.rename(columns={'Region ID': 'Region_ID', 'Country ID': 'Country_ID'}, inplace=True)
region_df.to_csv('Region.csv', index=False)

country_df.rename(columns={'Country/Region': 'Country', 'Country ID': 'Country_ID'}, inplace=True)
country_df.to_csv('Country.csv', index=False)