In [1]:
import pandas as pd
import xlrd
pd.set_option('max_colwidth', 400)
import numpy as np

In [2]:
df = pd.read_excel('Sample - Superstore - cleaned.xlsx')
df.head(2)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back",731.94,3,0.0,219.5820

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9646 entries, 0 to 9645
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order ID        9646 non-null   object
 1   Order Date      9646 non-null   datetime64[ns]
 2   Ship Date       9646 non-null   datetime64[ns]
 3   Ship Mode       9646 non-null   object
 4   Customer ID     9646 non-null   object
 5   Customer Name   9646 non-null   object
 6   Segment         9646 non-null   object
 7   Country/Region  9646 non-null   object
 8   City            9646 non-null   object
 9   State           9646 non-null   object
 10  Postal Code     9646 non-null   int64
 11  Region          9646 non-null   object
 12  Product ID      9646 non-null   object
 13  Category        9646 non-null   object
 14  Sub-Category    9646 non-null   object
 15  Product Name    9646 non-null   object
 16  Sales           9646 non-null   float64
 17  Quantity        9646 non-null   int64
 18  Discount        9646 non-null   float64
 19  Profit          9646 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(2), object(13)
memory usage: 1.5+ MB

In [4]:
# Create Table 'Order'

atts = ['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID']
order_df_unique = df[atts].groupby('Order ID')[['Order Date', 'Ship Date', 'Ship Mode', 'Customer ID']].nunique()
order_df_unique.isin([1]).all()

Order Date     True
Ship Date      True
Ship Mode      True
Customer ID    True
dtype: bool

In [5]:
order_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1) #4920

In [6]:
# Create Table 'Product'

atts = ['Product ID', 'Product Name', 'Sub-Category']
product_df_unique = df[atts].groupby('Product ID')['Product Name'].nunique()
product_df_unique.isin([1]).all()

True

In [7]:
product_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1) #1829
ids = np.arange(1, len(product_df)+1, dtype=int)
product_df['Sub-Category ID'] = ids

In [8]:
# Create Table 'Order-Product'

atts = ['Order ID', 'Product ID', 'Sales', 'Quantity', 'Discount', 'Profit']
order_product_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)

In [9]:
# Create Table 'Sub-Category'

atts = ['Sub-Category', 'Category']
sub_df_unique = df[atts].groupby('Sub-Category')['Category'].nunique()
sub_df_unique.isin([1]).all()

True

In [10]:
sub_df = df[atts].drop_duplicates(keep='first').reset_index().drop(['index'], axis=1) #16
ids = np.arange(1, len(sub_df)+1, dtype=int)
sub_df['Sub-Category ID'] = ids
sub_df['Category ID'] = ids

In [11]:
# Create Table 'Category'

atts = ['Category']
cat_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1) #3
ids = np.arange(1, len(cat_df)+1, dtype=int)
cat_df['Category ID'] = ids

In [12]:
# Create Table 'Customer'

atts = ['Customer ID', 'Customer Name', 'Segment']
customer_df_unique = df[atts].groupby('Customer ID')[['Customer Name', 'Segment']].nunique()
customer_df_unique.isin([1]).all()

Customer Name    True
Segment          True
dtype: bool

In [13]:
customer_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)

In [14]:
# Create Table 'Postal'

atts = ['Postal Code']
postal_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1) #3
ids = np.arange(1, len(postal_df)+1, dtype=int)
postal_df['City ID'] = ids

In [15]:
# Create Table 'Customer-Address'

atts = ['Customer ID', 'Postal Code']
customer_address_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)

In [16]:
# Create Table 'City'

atts = ['City', 'Postal Code', 'State']
city_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)
ids = np.arange(1, len(city_df)+1, dtype=int)
city_df['City ID'] = ids
city_df['State ID'] = ids

In [17]:
# Create Table 'State'

atts = ['Region', 'State', 'Postal Code', 'City']
state_df_unique = df[atts].groupby('State')['Region'].nunique()
state_df_unique.isin([1]).all()

True

In [18]:
state_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)
ids = np.arange(1, len(state_df)+1, dtype=int)
state_df['State ID'] = ids
state_df['Region ID'] = ids

In [19]:
# Create Table 'Region'

atts = ['Region', 'Country/Region']
region_df_unique = df[atts].groupby('Region')['Country/Region'].nunique()
region_df_unique.isin([1]).all()

True

In [20]:
region_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)
ids = np.arange(1, len(region_df)+1, dtype=int)
region_df['Region ID'] = ids
region_df['Country ID'] = ids

In [21]:
# Create Table 'Country'

atts = ['Country/Region']
country_df = df[atts].drop_duplicates(keep='first').reset_index().drop('index', axis=1)
ids = np.arange(1, len(country_df)+1, dtype=int)
country_df['Country ID'] = ids

In [22]:
# Map Country IDs

for i in range(len(region_df)):
    for j in range(len(country_df)):
        if region_df['Country/Region'][i] == country_df['Country/Region'][j]:
            region_df['Country ID'][i] = country_df['Country ID'][j]
            break
region_df.drop('Country/Region', axis=1, inplace=True)

/var/folders/hg/cgh05_ss1dxd3_65skxzpqcm0000gn/T/ipykernel_56175/440699364.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  region_df['Country ID'][i] = country_df['Country ID'][j]

In [23]:
# Map Region IDs

for i in range(len(state_df)):
    for j in range(len(region_df)):
        if state_df['Region'][i] == region_df['Region'][j]:
            state_df['Region ID'][i] = region_df['Region ID'][j]
            break

/var/folders/hg/cgh05_ss1dxd3_65skxzpqcm0000gn/T/ipykernel_56175/774643930.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  state_df['Region ID'][i] = region_df['Region ID'][j]

In [24]:
# Map State IDs

for i in range(len(city_df)):
    for j in range(len(state_df)):
        if city_df['State'][i] == state_df['State'][j]:
            city_df['State ID'][i] = state_df['State ID'][j]
            break

/var/folders/hg/cgh05_ss1dxd3_65skxzpqcm0000gn/T/ipykernel_56175/2920222307.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_df['State ID'][i] = state_df['State ID'][j]

In [25]:
# Map City IDs

postal_df['City ID'] = city_df['City ID']

In [26]:
# Map Category IDs

for i in range(len(sub_df)):
    for j in range(len(cat_df)):
        if sub_df['Category'][i] == cat_df['Category'][j]:
            sub_df['Category ID'][i] = cat_df['Category ID'][j]
            break

/var/folders/hg/cgh05_ss1dxd3_65skxzpqcm0000gn/T/ipykernel_56175/2141954761.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['Category ID'][i] = cat_df['Category ID'][j]

In [27]:
# Map Sub-Category IDs

for i in range(len(product_df)):
    for j in range(len(sub_df)):
        if product_df['Sub-Category'][i] == sub_df['Sub-Category'][j]:
            product_df['Sub-Category ID'][i] = sub_df['Sub-Category ID'][j]
            break

/var/folders/hg/cgh05_ss1dxd3_65skxzpqcm0000gn/T/ipykernel_56175/457254354.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product_df['Sub-Category ID'][i] = sub_df['Sub-Category ID'][j]

In [28]:
# Export tables

order_df.rename(columns={'Order ID': 'Order_ID', 'Order Date': 'Order_Date', 'Ship Date': 'Ship_Date', 'Ship Mode': 'Ship_Mode', 'Customer ID': 'Customer_ID'}, inplace=True)
order_df.to_csv('Order.csv', index=False)

product_df.drop('Sub-Category', axis=1, inplace=True)
product_df.rename(columns={'Product ID': 'Product_ID', 'Product Name': 'Product_Name', 'Sub-Category ID':'Subcategory_ID'}, inplace=True)
product_df.to_csv('Product.csv', index=False)

order_product_df.rename(columns={'Order ID': 'Order_ID', 'Product ID': 'Product_ID'}, inplace=True)
order_product_df.to_csv('Order_Product.csv', index=False)

sub_df.drop('Category', axis=1, inplace=True)
sub_df.rename(columns={'Sub-Category':'Subcategory', 'Sub-Category ID':'Subcategory_ID', 'Category ID': 'Category_ID'}, inplace=True)
sub_df.to_csv('SubCategory.csv', index=False)

cat_df.rename(columns={'Category ID': 'Category_ID'}, inplace=True)
cat_df.to_csv('Category.csv', index=False)

customer_df.rename(columns={'Customer ID': 'Customer_ID', 'Customer Name': 'Customer_Name'}, inplace=True)
customer_df.to_csv('Customer.csv', index=False)

postal_df.rename(columns={'City ID': 'City_ID', 'Postal Code': 'Postal_Code'}, inplace=True)
postal_df.to_csv('Postal.csv', index=False)

customer_address_df.rename(columns={'Customer ID': 'Customer_ID', 'Postal Code': 'Postal_Code'}, inplace=True)
customer_address_df.to_csv('Customer_Address.csv', index=False)

city_df.drop('Postal Code', axis=1, inplace=True)
city_df.drop('State', axis=1, inplace=True)
city_df.rename(columns={'State ID': 'State_ID', 'City ID': 'City_ID'}, inplace=True)
city_df.to_csv('City.csv', index=False)

state_df.drop('Region', axis=1, inplace=True)
state_df.drop('Postal Code', axis=1, inplace=True)
state_df.drop('City', axis=1, inplace=True)
state_df.rename(columns={'Region ID': 'Region_ID', 'State ID': 'State_ID'}, inplace=True)
state_df.to_csv('State.csv', index=False)

region_df.rename(columns={'Region ID': 'Region_ID', 'Country ID': 'Country_ID'}, inplace=True)
region_df.to_csv('Region.csv', index=False)

country_df.rename(columns={'Country/Region': 'Country', 'Country ID': 'Country_ID'}, inplace=True)
country_df.to_csv('Country.csv', index=False)